.container-sm{
    max-width: 700px;
    margin: 0 auto;
}
.container-md{
    max-width: 1100px;
    margin: 0 auto;
    
}

.container-lg{
    max-width: 1500px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}

.btn-primary{
    padding: 1rem 2rem;
    background-color: #032152;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.color-white{
    color: #fff;
}
.color-dark-blue{
    color: #032152;
}
.padding{
    padding-bottom: 20px;
}